<nav class="bg-transparent navbar navbar-expand-lg sticky-top mx-auto my-3">
	<div class="container-fluid">
		
		<a class="navbar-brand" href='/'>
			<span class="text-center" style="margin-bottom:0">Movie</span>
			<p class="text-center font-weight-bold" style="margin-bottom:0; margin-top:0">Engine</p>
		</a>
			
		<ul class="navbar-nav ml-auto">
		
			<li class="nav-item">
				<a class="border-0 btn btn-secondary nav-link px-4 text-white" href="/">Donate</a>
			</li>
			
		</ul>

	</div>
</nav>