{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container text-light" style="min-height: 20rem">
	<!-- background reel image -->
	<img alt="background photo reel" src="{% static 'img/reel.svg' %}" style="position: fixed; bottom: 0; right: 0; z-index: -1;opacity: .2;" />

	<div class="justify-content-center row text-center" style="margin-top: 8rem;">
		<h1>Oops!<br>An error has occurred</h1>
	</div>
	<div class="justify-content-center row text-center mt-5">
		<h1>Please try again later.</h1>
	</div>

</div>

{% endblock %}